/* Login */
.login-page, .register-page {
    height: 80vh;
}

/* Home */
.content-header {
    padding: 5px 0.5rem;
}


/* Card widgets */
.card {
    margin-bottom: 7px;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 15px;
}


.widget-stats .stats-info p, .widget.widget-stats .stats-info p {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0;
}


/* Table */
.table th,
.table td,
.tbl-no-wrap th,
.tbl-no-wrap td {
    white-space: nowrap !important;
}

.content {
    padding: 10px 15px;
}

body table.dataTable tbody tr.selected td {
    background: #DDDDDD;
    color: #2C3639;
    font-weight: 600;
}

.dropdown-menu.media-list {
    max-width: 400px;
}